.app {
    display: grid;
    height: 100vh;
  }
  
  .img-container {
    overflow: hidden;
  }
  
  .img-container img {
    width: 600px;
    transition: transform 0.3s;
  }
  
  .img-container img:hover {
    transform: scale(1.5);
  }